<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>ADA API - Página Inicial</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">ADA API</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/enunciado">Sobre</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/apidocs">Documentação</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container mt-4">
        <section id="about">
            <h1>Bem-vindo à ADA API</h1>
            <p>Uma API poderosa e flexível para suas necessidades de dados e autenticação.</p>
            <p>Esta é uma descrição detalhada do projeto e de seus recursos.</p>
        </section>

        <section id="documentation" class="mt-4">
            <h2>Documentação</h2>
            <p>Confira a documentação para obter mais informações:</p>
            <ul>
                <li><a href="/apidocs/">Documentação swagger da API</a></li>
                <li><a href="https://github.com/luizfpq/ada-api">Github</a></li>
            </ul>
        </section>
    </div>

    <footer class="mt-4 bg-light text-center py-3">
        <p>© 2023.2 - PDWA5 - QUIRINO - ADA API</p>
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>
